.color-white {
    color:#fff;
}
.bg-black {
    background-color:#212122;
}

#mapid {
    position: fixed;
    border-radius: 35px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 90%;
    height: 80%;
    margin: 5%;
}

.display-content {
    display: contents;
}

.navbar {

    background-color: #3A3A3A;
    z-index: 9999;
}

nav a {
    color: #fff;
}

nav p {
    text-align: center;
    font-size: 10px;
}

.float-left {
    float: left;
}

.col a{
  text-decoration:none;
}

.col a:hover{
  color:#fff;
}


/* MOBILE */

@media only screen and (max-width: 450px) {
  .navbar{
    text-align: center;
    /*padding: 20px;*/
  }

  .col{
    padding: 0 1%;
    margin: 0;
  }

  ion-icon{
    font-size: small;
  }
}


/* CSS DELLA PAGINA CERCA */
.margin-left {
    margin-left: 20px;
}

.title {
    margin-top: 10px;
}

.h-top {
    margin-top: 25px;
}

#input-style {
  width: 90%;
  color:#fff;
  box-sizing: border-box;
  border: 0px;
  border-radius: 100px;
  background-color: #3A3A3A;
  background-image: url('./images/searchicon2.png');
  background-position: 10px 50%;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-top: 4px;
}

/* CSS PAGINA MEDIA */
.div-left{
  background-color: #3A3A3A;
  width: 44%;
  height: 25%;
  border: 0px;
  border-radius: 10px;
  float:left;
  margin:2% auto auto 4%;
  text-align: center;
  position:relative;
  overflow:hidden;
  cursor: pointer;
}

.btn {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}


.div-left input[type=file]{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  border: none;
  background: none;
  color: transparent;
  position:absolute;
  cursor: pointer;
}

.div-left input[type=file]:hover{
  cursor: pointer;
}

.div-right{
  background-color: #3A3A3A;
  width: 44%;
  height: 25%;
  border: 0px;
  border-radius: 10px;
  float:right;
  margin:2% 4% auto auto;
  text-align: center;
  position:relative;
  overflow:hidden;
  cursor: pointer;
}

.div-right input[type=file]{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  border: none;
  background: none;
  color: transparent;
  position:absolute;
  cursor: pointer;
}

.div-right input[type=file]:hover{
  cursor: pointer;
}

.media-icon{
  margin:10% auto auto 4%;
  font-size: 80px;
}

.box-text{
  padding-left:4%;
}
