.color-white {
    color:#fff;
}
.bg-black {
    background-color:#212122;
}

#frameMap {
    border-radius: 35px;
    position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    width: 90%; 
    height: 80%;
    margin:5% ; 
}

#footer {
    position:fixed; 
    bottom:0px !important;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) { 
    .navbar {
        padding:5% !important;   
    }
}

.navbar {
    border-radius:35px; 
    padding-left:4%;  
}