.color-white {
    color:#fff;
}
.bg-black {
    background-color:#212122;
}

#map {
    position: fixed;
    border-radius: 35px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 90%;
    height: 80%;
    margin: 5%;
}

.display-content {
    display: contents;
}

nav p {
    text-align: center;
    font-size: 10px;
}

.float-left {
    float: left;
}